
div#remote {
  margin: auto;
  max-width: 75rem;
  min-width: 50rem;
}

div.table {
  width: 100%;
}

div.table-row {
  clear: both;
  display: flex;
  line-height: 3rem;
  width: 100%;
}

div.table-cell-of-4,
div.table-cell {
  margin: 4px;
  padding: 4px;
}

div.table-cell-of-4 {
  width: 25%;
}

button {
  background-color: black;
  color: white;
  font: 24pt "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  border-color: lightgrey grey grey lightgrey;
  box-shadow: 0.1em 0.1em 0.1em black;
}

button.button-of-3 {
  width: 33.3%;
}

button.button-of-4 {
  width: 25%;
}

button.no-top-bottom-fluff,
button.no-top-fluff {
  border-top: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  padding-top: 0;
}

button.no-top-bottom-fluff,
button.no-bottom-fluff {
  border-bottom: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.empty-slot-of-3,
.empty-slot-of-4 {
  background-color: transparent;
}

.empty-slot-of-3 {
  width: 33.3%;
}

.empty-slot-of-4 {
  width: 25%;
}
