*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  min-height: 100%;
}

body {
  background-color: #404040;
  font: 24pt "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.material-icons.large {
  font-size: 40pt;
}
