extends ../../server/views/layout

block content

    div(class="table", id="remote")
        div(class="table-row")
            button(class="button-of-4 power vibrate")
                i(class="material-icons large") power_settings_new
            div(class="table-cell-of-4", style="background-color: transparent;") &nbsp;
            div(class="table-cell-of-4", style="background-color: transparent;") &nbsp;
            button(class="button-of-4") TV/RAD
        div(class="table-row")
            button(class="button-of-4")
                i(class="material-icons large") settings_input_hdmi
            button(class="button-of-4") &#x2699;
            button(class="button-of-4") LIVE ZOOM
            button(class="button-of-4") SUB TITLE
        div(class="table-row")
            button(class="button-of-3") 1 .@
            button(class="button-of-3") 2 abc
            button(class="button-of-3") 3 def
        div(class="table-row")
            button(class="button-of-3") 4 ghi
            button(class="button-of-3") 5 jkl
            button(class="button-of-3") 6 mno
        div(class="table-row")
            button(class="button-of-3") 7 pqrs
            button(class="button-of-3") 8 tuv
            button(class="button-of-3") 9 wxyz
        div(class="table-row")
            button(class="button-of-3") LIST
            button(class="button-of-3") 0 _
            button(class="button-of-3") GUIDE
        div(class="table-row")
            button(class="button-of-3 no-bottom-fluff") +
            button(class="button-of-3")
                i(class="material-icons large") info_outline
                span INFO
            button(class="button-of-3 no-bottom-fluff")
                i(class="material-icons large") keyboard_arrow_up
        div(class="table-row")
            button(class="button-of-3 no-top-bottom-fluff", disabled="true") Volume
            button(class="button-of-3")
                i(class="material-icons large") search
            button(class="button-of-3 no-top-bottom-fluff", disabled="true") Page
        div(class="table-row")
            button(class="button-of-3 no-top-fluff") -
            button(class="button-of-3")
                i(class="material-icons large") volume_off
            button(class="button-of-3 no-top-fluff")
                i(class="material-icons large") keyboard_arrow_down
        div(class="table-row")
            button(class="button-of-3") RECENT
            button(class="button-of-3")
                i(class="material-icons large") home
            button(class="button-of-3") LIVE MENU
        div(class="table-row")
            button(class="button-of-3") BACK
            button(class="button-of-3") &#x25B2;
            button(class="button-of-3") EXIT
        div(class="table-row")
            button(class="button-of-3") &#x25C0;
            button(class="button-of-3") OK
            button(class="button-of-3") &#x25B6;
        div(class="table-row")
            button(class="button-of-3") &#x25A4; TEXT
            button(class="button-of-3") &#x25BC;
            button(class="button-of-3") T.OPT
        div(class="table-row")
            button(class="button-of-3") AD
            button(class="button-of-3", style="color: red;")
                i(class="material-icons large") fiber_manual_record
                span REC/&#x2732;
            button(class="button-of-3")
                i(class="material-icons large") stop
        div(class="table-row")
            button(class="button-of-4")
                i(class="material-icons large") fast_rewind
            button(class="button-of-4")
                i(class="material-icons large") play_arrow
            button(class="button-of-4")
                i(class="material-icons large") pause
            button(class="button-of-4")
                i(class="material-icons large") fast_forward
        div(class="table-row")
            button(class="button-of-4", style="background-color: #BB2222;") &#x2024;
            button(class="button-of-4", style="background-color: #337733;") &#x2025;
            button(class="button-of-4", style="background-color: #DDDD00;") &#x2056;
            button(class="button-of-4", style="background-color: #800080;") &#x2058;
