doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/stylesheets/tables.css')
    if (typeof(remote) !== 'undefined') && (remote !== "")
      link(rel='stylesheet', href='/' + remote + '/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content
    script.
      const REMOTE = "#{remote}";
    script(src="/javascripts/send_command.js")
    script(src="/javascripts/vibrate.js")
