extends ../../server/views/layout

block content

    div(class="table", id="remote")
        div(class="table-row")
            button(class="button-of-3 power vibrate")
                i(class="material-icons large") power_settings_new
            div(class="table-cell-of-3 empty-slot-of-4") &nbsp;
            div(class="table-cell-of-3 empty-slot-of-4") &nbsp;

        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3")
                i(class="material-icons large") mic
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;

        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3") &#x25B2;
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;

        div(class="table-row")
            button(class="button-of-3") &#x25C0;
            button(class="button-of-3") &nbsp;
            button(class="button-of-3") &#x25B6;

        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3") &#x25BC;
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;

        div(class="table-row")
            button(class="button-of-3")
                i(class="material-icons large") undo
            button(class="button-of-3")
                i(class="material-icons large") home
            button(class="button-of-3")
                i(class="material-icons large") menu

        div(class="table-row")
            button(class="button-of-3")
                i(class="material-icons large") fast_rewind
            button(class="button-of-3")
                i(class="material-icons large") play_arrow
                i(class="material-icons large") pause
            button(class="button-of-3")
                i(class="material-icons large") fast_forward


        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3 no-bottom-fluff") +
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3 no-top-bottom-fluff", disabled="true") &nbsp;
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3 no-top-fluff") -
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;


        div(class="table-row")
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
            button(class="button-of-3")
                i(class="material-icons large") volume_off
            div(class="table-cell-of-3 empty-slot-of-3") &nbsp;
